@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color:#ffffff;
    background-image:url(images/top-pink.png),url(images/bottom-blue.png);
    background-position: center 35px, center bottom;
    background-repeat: no-repeat;
    color: rgb(48, 45, 45);
    margin-top: 110px;
    width: 100%;
}

ul{
    list-style-type: none;
}

p{
    font-family: 'Zen Maru Gothic', sans-serif;
}

h2{
    font-family: 'Zen Maru Gothic', sans-serif;
}

a{
    text-decoration: none;
}

.home-content{
    text-align: center;
    margin-top: 7%;
}

.home-content {
    text-align: center;
    font-size: 1.500rem;
    margin-top: 50px;
    color: #ffffff;
}

.home{
    margin-left: 150px;
}

.home-h2{
    text-align: left;
    font-size: 1.125rem;
    margin-top: 100px;
}

.home-p {
    text-align: left;
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 160px;
}

.home-p p {
    margin: 15px;
}

.page-header{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

.logo{
    width: 270px;
    margin-top: 24px;
}

.main-nav{
    font-family: "Zen Maru Gothic";
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: rgb(61, 51, 56);
    position: relative;
}

.main-nav a:hover{
    color: rgb(104, 104, 104);
}

.main-nav a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%; 
    height: 2px;
    background: #f52575;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
}
.main-nav a:hover::after {
    transform: scale(1, 1);
}

footer {
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}