@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color:#f8428e;
    color: rgb(255, 255, 255);
    margin-top: 120px;
}

ul{
    list-style-type: none;
}

p{
    font-family: 'Zen Maru Gothic', sans-serif;
}

a{
    text-decoration: none;
}

.page-header{
    display: flex;
    background-color: rgb(255, 0, 128);
    justify-content: space-between;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

.logo{
    width: 270px;
    margin-top: 24px;
}

.main-nav{
    font-family: "Zen Maru Gothic";
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: rgb(255, 255, 255);
}

.main-nav a:hover{
    color: rgb(199, 199, 199);
}